# Ignore everything in "wp-content" except these directories. #
/*
!.gitignore
!plugins/
!themes/
!uploads/
!README.md
# Ignore everything in "plugins" except certain plugins. #
plugins/*
!plugins/inhabitent-functionality-master/
!plugins/business-hours-widget/
!plugins/contact-info-widget/
!plugins/social-info-widget/
# Ignore everything in "themes" except the active theme. #
themes/*
!themes/inhabitent-master/
# Ignore packages #
themes/inhabitent-master/node_modules/