
  .site-footer {
    background-image: url('../dark-wood@2x.png');
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0px 50px 0px;
    height: 300px;
    max-width: $width__fixed;
    margin: 0 auto;
  }

.contact-info {
  padding-top: 10px;
  padding-bottom: 10px;
}

.inhabitent-logo-text {
  max-width: 300px;
}

.site-info {
  padding: 20px;
  p {
    color: white;
    text-align: center;
    font-family: $font__secondary;
    text-transform: uppercase;
  }
}