.site-footer {
  height: 200px;
  background-image: url('../dark-wood@2x.png');
}

.contact-info {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: $color__background-screen;
}