/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-site-main {
  width: 100%;
}

/* About Page */
.about-entry-content {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

/* Default Pages */

.site-main {
  width: 75%;
  margin: 0 auto;
}

.site-content {
  display: flex;
  flex-direction: row;
  max-width: $width__fixed;
}
