/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  padding: 2rem 0rem;
}

.front-site-main {
  width: 100%;

  h2 {
    text-align: center;
  }
}

.product-type-blocks {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right: auto;
  width: $width__fixed;
}

.product-type-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 4px solid #e1e1e1;
  border-right: $border__solid;
  border-bottom: $border__solid;
  border-left: $border__solid;
  margin: 10px;
  text-align: center;
  padding: 1rem;
}

.product-type-img {
  height: 70px;
}

.product-type-button {
  margin-left: 3rem;
  margin-right: 3rem;
  border: none;
  border-radius: 0px;
  background: $color__brand-gre;
  box-shadow: none;
  padding: 1rem 0rem;
}

.button-text {
  padding: 0px;
  text-decoration: none;
  color: $color__background-body;
  text-shadow: none;
  font-size: 1rem;
}

.journal-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left:auto;
  margin-right: auto;
  width: $width__fixed;
  margin-bottom: 5rem;
}

.journal-teaser {
  border: $border__solid;
  margin: 10px;
  text-align: left;

  h2 {
    text-align: left;
    padding-right: 8px;
    color: $color__brand-gre;
    margin-top: 0px;
    font-size: 1.4rem;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
  }
}

.journal-teaser-img {
  height: 25vh;
}

.journal-teaser-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-top:  4px solid #e1e1e1;
  padding: 1rem;

  a {
    padding: 0px;
  }
}

.journal-button {
  border: 1px solid black;
  border-radius: 0px;
  background: $color__background-body;
  box-shadow: none;
  padding: 10px;
  width: 180px;

  a {
    color: black;
    font-family: $font__secondary;
    text-transform: uppercase;
    padding: 0px;
    margin: 8px 8px;
  }
}

/* About Page */
.about-entry-content {
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
  }
}

/* Default Pages */


.site-content {
  display: flex;
  flex-direction: row;
  width: $width__fixed;
  margin: 0 auto;
}

.site-header {
  border-bottom: $border__solid;
}

/* Main Shop Page */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0px;
  margin-bottom: 2rem;
  width: $width__fixed;
}

.product-item {
  border: $border__solid;
}

.product-img-box {
  height: 25vh;
  border-bottom: 4px solid #e1e1e1
}

.product-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;

  p {
    margin: 0px;
  }
}

.product-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin: 0 auto;

  a {
    text-decoration: none;
    text-align: center;
    padding: 0px;
  }
}

.content-area {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.shop-header-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.shop-header {
  text-align: center;
  border-bottom: $border__dashed;
  margin-bottom: 3rem;
  padding: 1rem 0rem;
}

// Single-product_type 

.shop-item-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 3rem 1rem 5rem 1rem;
}

.entry-content {
  h1 {
    font-size: 2.5rem;
    margin: 1px;
    color: $color__brand-ora;
  }
}

.single-price {
  font-family: $font__secondary;
  font-size: 2rem;
  margin: 1px;
}

// blog front

.journal-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.journal-box {
  margin: 3rem;
}

.journal-title {
  display: flex;
  align-items: center;
  background: $color__brand-gre;
  margin: 3rem 7rem 0rem 0rem;

  h2 {
  color: $color__background-body;
  margin: 0px;
  padding: 1rem;
  font-size: 2rem;
  }
}

.journal-meta {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  margin: 0px;

  h4 {
    background: $color__brand-gre;
    color: $color__background-body;
    font-weight: normal;
    margin: 0px;
    padding: 0.8rem;
  }
}

.error-404 {
  margin: 5rem;

  h1 {
    margin-top: 0px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
  }

  a {
    text-decoration: none;
    padding-right: 0px;
  }
}

.search-form-default {
  border: 1px solid black;
  padding: 10px;
}
