.sidebar-widget-area {
  border-left: $border__solid;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 3rem;

  a {
    text-decoration: none;
    font-family: $font__main;
    text-transform: none;
  }

  li {
    list-style: none;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }
}
