/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget_recent_entries {
	a {
		font-family: $font__main;
		text-transform: none;
		line-height: $font__line-height-body;
	}
}

.widget_categories {
	a {
		font-family: $font__main;
		text-transform: none;
		line-height: $font__line-height-body;
	}
}
/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// footer widgets
.social-widget-footer {
	padding-right: 4rem;
}

.footer-widget-title {
	margin-top: 0px;
}

.widget-area-footer {
  display: flex;
	flex-direction: row;
	padding-bottom: 50px;

	h2 {
		color: $color__brand-ora;
	}
	
	i {
		color: $color__background-body;
		width: 30px;
		font-size: 20px;
	}

	p {
		color: $color__background-body;
	}

}

.social-icons {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0px;
	padding: 0px;

	i {
		width: 15px;
	}
}

.contact-info-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	p {
		justify-content: flex-end;
	}
}

.contact-icon {
	display: flex;
	justify-content: flex-start;
	width: 30px;
	i {
	width: 30px;
	font-size: 12px;
	}
}